<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="list"></ion-icon>
        </button>
        <ion-title text-center>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content class="app-background">
    <ion-card tappable (click)="IndustryProfile()">
        <ion-item>
            <ion-label item-start class="title">INDUSTRY INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryUserTypeInfo()">
        <ion-item>
            <ion-label item-start class="title">USER TYPE INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryUserInfo()" *ngIf="UserTypeCount">
        <ion-item>
            <ion-label item-start class="title">USER INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryEquipInfo()" *ngIf="UserCount">
        <ion-item>
            <ion-label item-start class="title">EQUIPMENT INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryMaterialInfo()" *ngIf="EquipCount">
        <ion-item>
            <ion-label item-start class="title">MATERIAL INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryStageEquipInfo()" *ngIf="MaterialCount">
        <ion-item>
            <ion-label item-start class="title">STAGE EQUIPMENT INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryShiftInfo()" *ngIf="StageEquipCount">
        <ion-item>
            <ion-label item-start class="title"> SHIFT INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card tappable (click)="IndustryLotsInfo()" *ngIf="ShiftCount">
        <ion-item>
            <ion-label item-start class="title">  LOTS INFO</ion-label>
            <ion-icon name="ios-arrow-forward" item-end color="white"></ion-icon>
        </ion-item>
    </ion-card>
</ion-content>
