page-IndustryStageEquip{
    .heading{
        background-color: color($colors,bluegreen);
        color: white;
        padding:10px;
        text-align: center;
        }    
        .title{
            color:color($colors,darkgray);
        }
        .contentdata{
            color:color($colors,lightgray);
        }
        .fab-md, .fab-ios{
            background-color:color($colors,orangecolor);
        }
        .card-header-md, .card-header-ios{
            color:white;
            background-color: color($colors,orangecolor);
        }
        .card-content-md, .card-content-ios{
            padding-top:10px!important;
        }
        .card{
            padding: 8px!important;
        }
}